.nav {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    &-list {
        list-style: none;
        display: flex;
        align-items: center;

        &-item {
            &:hover {
                border-bottom: solid set-text-color($bg-dark) 1px;
            }

            &>a {
                color: set-text-color($bg-dark);
                text-decoration: none;
            }

            &-noeffect>a {
                color: set-text-color($bg-dark);
                text-decoration: none;

                &:hover {
                    color: set-text-color($bg-dark);
                }
            }

            &.current {
                border-bottom: solid set-text-color($bg-dark) 1px;
            }
        }
    }

    .menu-btn {
        visibility: hidden;
        font-size: 1.6em;

        &-badge {
            height: 52px;
            width: 53px;
            border-radius: 50%;
            padding-top: 4.5px;
            padding-left: .5px;
            @include ease-out;

            &-text {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 43px;
                width: 43px;
                padding: 5px;
                margin: auto;
                border: solid 1.5px;
                border-radius: 50%;
                font-size: 1.2rem;
                text-align: center;
            }

            &:hover {
                color: set-text-color($bg-dark);
                @include light-background;
                // @include box-shadow;
            }

            .icon {
                font-size: 1.6rem;
            }
        }
    }
}

header .container .nav {
    &-list {
        justify-content: space-between;
        gap: 20px;

        &-item>a {
            font-size: 1.2rem;
            padding: 0 20px;
        }
    }
}

footer .container .nav {
    &-list {
        justify-content: center;
        gap: 10px;

        &-item>a {
            padding: 0 10px;
        }
    }
}

@include mediaMd {
    header .container .nav {
        &-list {
            display: block;
            position: absolute;
            top: 160px;
            left: 0px;
            padding: 5px 0;
            background-color: $bg-light;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            z-index: -1;
            @include box-shadow;
            @include ease-out;

            &-item {
                margin: 5px 10px;

                &>a {
                    color: set-text-color($bg-light);
                    padding: 0 10px
                }

                &.current {
                    border-bottom: solid set-text-color($bg-light) 1px;
                }
            }

            &.closed {
                transform: translate(-100%) scaleX(0);
                transform-origin: left;
            }
        }

        .menu-btn {
            visibility: visible;
        }
    }
}

@include mediaSm {
    header .container .nav {
        justify-content: center;
        padding-bottom: 25px;

        &-list {
            width: 100%;
            top: 174px;
            border-top-right-radius: 0;
            border-bottom-left-radius: 15px;

            &.closed {
                transform: translateY(-100%) scaleY(0);
                transform-origin: top;
            }
        }
    }
}