footer {
    padding: 1rem 0;
    background-color: $bg-dark;
    color: set-text-color($bg-dark);
    text-align: center;
    flex-shrink: 0;

    .nav {
        justify-content: center;

        &-list-item-noeffect {
            display: none;
        }
    }
}