.auth {
    font-size: 1.6em;

    &-container {
        position: absolute;
        width: 300px;
        top: 120px;
        right: 0px;
        background-color: $bg-light;
        color: set-text-color($bg-light);
        border: solid $highlight 1px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        @include box-shadow;
        @include ease-out;
        z-index: -1;

        &.closed {
            transform: translate(100%) scaleX(0);
            transform-origin: right;
        }

        .logout {
            grid-area: logout;
            border-radius: 50%;
            padding: 6px;
            margin-left: auto;
            @include ease-out;

            &:hover {
                cursor: pointer;
                @include box-shadow;
            }

            &-icon {
                font-size: 1.6em;
            }
        }

        &>.form-section {
            border-bottom-right-radius: 0;
        }
    }

    &-badge {
        height: 52px;
        width: 53px;
        border-radius: 50%;
        padding-top: 4.5px;
        padding-left: .5px;
        @include ease-out;

        &-text {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 43px;
            width: 43px;
            padding: 5px;
            margin: auto;
            border: solid 1.5px;
            border-radius: 50%;
            font-size: 1.2rem;
            text-align: center;
        }

        &:hover {
            color: set-text-color($bg-dark);
            @include light-background;
            // @include box-shadow;
        }

        .icon {
            font-size: 1.6rem;
        }
    }
}

@include mediaSm {
    .auth-container {
        width: 100%;
        top: 174px;
        border-top-left-radius: 0;
        border-bottom-right-radius: 15px;

        &.closed {
            transform: translateY(-100%) scaleY(0);
            transform-origin: top;
        }
    }
}