header {
    background-color: $bg-dark;
    color: set-text-color($bg-dark);

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo h1 {
            font-size: 3rem;
            margin: 15px 0;
        }

        /*         &::after {
            content: "";
            position: absolute;
            height: 200px;
            top: -68px;
            right: 0;
            left: 0;
            background-color: $bg-dark;
            transform: skewY(2deg);
            -webkit-transform: skewY(2deg);
            -moz-transform: skewY(2deg);
            -ms-transform: skewY(2deg);
            z-index: -1;
        } */
    }
}

@include mediaSm {
    header .container {
        display: block;
        padding: 0;
        text-align: center;

        .logo>h1 {
            margin-bottom: 10px;
        }
    }
}